h1 {
    text-align: center;
}

form {
    text-align: center;
    margin: 20px;
}

label {
    display: block;
}

input[type="number"] {
    width: 100px;
}

button {
    margin-top: 10px;
}

#prediction-result {
    text-align: center;
    margin-top: 20px;
}
